@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: $bp-tablet) {
      @content;
    }
  }

  @if $bp == tablethorizontal {
    @media (min-width: $bp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: $bp-desktop) {
      @content;
    }
  }

  @if $bp == desktopxl {
    @media (min-width: $bp-desktop-xl) {
      @content;
    }
  }
  @if $bp == desktopxxl {
    @media (min-width: $bp-desktop-xxl) {
      @content;
    }
  }
}

//mixins de botones
@mixin button {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  display: inline-block;
  padding: 16px 27px;
  border-radius: 8px;
  background-color: $silver;
  color: $blue-dark;
}

@mixin reset-list{
  list-style: none;
  margin: 0;
  padding: 0;
}
