//variables de breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;
$bp-desktop-xxl: 1920px;

//variables de color
$orange: #F16718;
$orange-light: #FF9B62;
$blue-dark: #162542;
$blue-light: #7B8BAD;
$silver: #E8EFF2;
$white: #FFFFFF;

//variables de fuentes
$primary-font: Barlow;



