.hero{
    padding-top: 64px;
    &__title{
        position: relative;
        h1{
            font-size: 48px;
            font-weight: 900;
            color: $blue-dark;
            line-height: 48px;
            margin-bottom: 32px;
        }
        p{
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;
            color: $blue-light;
            margin-bottom: 32px;
        }
        .nav-hero{
            display: flex;
            align-items: center;
            gap: 35px;
            margin-bottom: 64px;
            ul{
                @include reset-list;
                .button-hero{
                    @include button;
                    color: $white;
                    background-color: $orange;
                    padding: 11px 14px;
                }
            }
            span{
                font-size: 16px;
                line-height: 26px;
                color: $blue-light;
            }
        }
        .image-title{
            position: relative;
            right: -40px;
            margin-bottom: 24px;
        }
    }
    &__subtitle{
        position: relative;
        margin-bottom: 120px;
        .image-subtitle{
            display: flex;
            gap: 24px;
            position: relative;
            left: -30px;
            margin-bottom: 75px;
        }
        .description-subtitle{
            h2{
                font-size: 32px;
                line-height: 36px;
                color: $blue-dark;
                width: 50%;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 24px;
            }
            p{
                font-size: 16px;
                line-height: 26px;
                color: $blue-light;
                text-align: center;
            }
        }
    }
}